.ag-header-cell-filtered {
    /*  https://getbootstrap.com/docs/5.1/customize/css-variables/*/
    /*background-color: var(--bs-success);*/
    background-color: #1b6d85 !important;
    color: #fff !important;
}

.ag-header-cell-filtered span {
  color: #fff !important;
}

.accordion-button:not(.collapsed) {
    /*color: var(--bs-accordion-active-color); this is text color

    /*background-color: var(--bs-nav-tabs-active-bg);*/
    /*background-color: var(--bs-nav-link-disabled-color)*/
    /*background-color: var(-bs-accordion-active-bg);*/
    background-color: var(--bs-gray-200);
}

/*This is when it's closed'*/
.accordion-button {
    /*background-color: var(--bs-gray-300); */
    /*background-color: var(--bs-primary-bg-subtle);*/
    background-color: var(--bs-gray-200); /*same as bs-light*/
}

.user-alert {
    background-color: var(--bs-danger-bg-subtle)!important; /*same as bs-light*/
    color: var(--bs-danger-text-emphasis) !important;
    border-color: var(--bs-danger-text-emphasis)!important;
}