.ag-header-cell-filtered {
    /*  https://getbootstrap.com/docs/5.1/customize/css-variables/*/
    /*background-color: var(--bs-success);*/
    background-color: #1b6d85 !important;
    color: #fff !important;
}

.ag-header-cell-filtered span {
  color: #fff !important;
}