
.ag-header-cell-filtered {
    background-color: var(--bs-secondary) !important;
}

.ag-header-cell-filtered span {
    /*
        color in ag-header-cell-filtered does not change the filtered cell text color,
        this component does
        https://ag-grid.com/angular-data-grid/global-style-customisation-headers/#style-header-on-filter
    */
    color: var(--bs-white)!important;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    /*color: var(--bs-accordion-active-color); this is text color

    /*background-color: var(--bs-nav-tabs-active-bg);*/
    /*background-color: var(--bs-nav-link-disabled-color)*/
    /*background-color: var(-bs-accordion-active-bg);*/
    background-color: var(--bs-gray-200);
}

/*This is when it's closed'*/
.accordion-button {
    /*background-color: var(--bs-gray-300); */
    /*background-color: var(--bs-primary-bg-subtle);*/
    background-color: var(--bs-gray-200); /*same as bs-light*/
}

.user-alert {
    background-color: var(--bs-danger-bg-subtle)!important; /*same as bs-light*/
    color: var(--bs-danger-text-emphasis) !important;
    border-color: var(--bs-danger-text-emphasis)!important;
}

.cell-wrap-dash-ag-grid{
    /*background-color: rgb(99, 133, 185) !important;*/
    word-break: normal !important;
    white-space: normal !important;
    line-height:130% !important;
    /*padding: 10 !important;*/
    /*font-size: 10px !important;*/

    /*line-height:200% !important;*/

    /*padding: 10 !important;*/
    /*font-size: 10px !important;*/

    /*max-width: 500px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/

}


/*input:checked + .mantine-7to5cv{*/
/*    background-color: rgb(101 73 230);*/
/*    border-color: rgb(230, 73, 128);*/
/*    color: rgb(64 67 215);*/
/*    transition: color 150ms ease 0s;*/
/*}*/
/*.mantine-Switch-track{*/
/*    background-color: rgb(70, 128, 7) !important;*/
/*    !*border-color: rgb(227, 9, 100);*!*/
/*    color: rgb(93, 7, 128)!important;*/
/*    transition: color 150ms ease 0s;*/
/*}*/