
.ag-header-cell-filtered {
    background-color: var(--bs-secondary) !important;
}

.ag-header-cell-filtered span {
    /*
        color in ag-header-cell-filtered does not change the filtered cell text color,
        this component does
        https://ag-grid.com/angular-data-grid/global-style-customisation-headers/#style-header-on-filter
    */
    color: var(--bs-white)!important;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    /*color: var(--bs-accordion-active-color); this is text color

    /*background-color: var(--bs-nav-tabs-active-bg);*/
    /*background-color: var(--bs-nav-link-disabled-color)*/
    /*background-color: var(-bs-accordion-active-bg);*/
    background-color: var(--bs-gray-200);
}

/*This is when it's closed'*/
.accordion-button {
    /*background-color: var(--bs-gray-300); */
    /*background-color: var(--bs-primary-bg-subtle);*/
    background-color: var(--bs-gray-200); /*same as bs-light*/
}

.user-alert {
    background-color: var(--bs-danger-bg-subtle)!important; /*same as bs-light*/
    color: var(--bs-danger-text-emphasis) !important;
    border-color: var(--bs-danger-text-emphasis)!important;
}

.cell-wrap-dash-ag-grid{
    /*background-color: rgb(99, 133, 185) !important;*/
    word-break: normal !important;
    white-space: normal !important;
    line-height:130% !important;
    /*padding: 10 !important;*/
    /*font-size: 10px !important;*/
}